body{
	background-image: url("../img/wall.png");
}
.h2 {
	margin-left: 15%;
	height: 495px;
	width: 70%;
	border-radius: 4%;
}
.navbar {
	list-style-type: none;
	display: flex;
	font-size: 30px;
	justify-content: space-between;
	margin: 20px;
	padding: 10px;
	max-width: 1800px;
	align-items: center;
	color: white;
}
.navbar:hover {
	color: black;
}
.block3{
	width: 50%;
	height: 200px;
	background: rgba(255,255,255,.5);
	list-style-type: none;
}
.img_table{
	align-items: center;
	justify-content: space-between;
	margin: auto;
}
.block4{
	width: 98%;
	height: auto ;
	margin: 1%;
	background: rgba(255,255,255,.5);
	float: left;
}
h1{
	color: #000000;
	background: rgba(255,255,255,.5);
	width: 98%;
	height: 60px;
	margin: 1%;
	text-align: center;
}
h2 {
	color: #000000;
}
table {
	border-collapse: collapse;
	width: 98%;
	text-align: center;
	padding: 1px;
}
a {
	text-decoration: none;
	color: white;
}
th {
	background-color: #33334d;
	color: white;
}
.text{
	margin-left: 10px;
	text-align: justify
}
.imagine{
	border-radius: 8px;
	margin-left: 10px;
}